.loader {
    position: fixed; /* Ensures it covers the whole screen */
top: 0;
left: 0;
right: 0;
bottom: 0;
display: none; /* Hidden by default */
justify-content: center;
align-items: center;
background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
z-index: 1000; /* High z-index to ensure visibility on top */
}

  .loader div {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
  }
  
  .loader::before {
    content: "";
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 140px;
    height: 55px;
    z-index: 20;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(129, 17, 228, 0.274);
    border-top: none;
    box-shadow: 0 15px 20px rgba(29, 228, 53, 0.082);
    animation: anim2 2s infinite;
  }
  
  .loader div {
    background: rgb(228, 228, 228);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: -1;
    animation: anim 2s infinite linear;
    animation-delay: calc(-0.3s * var(--i));
    transform: translateY(5px);
    margin: 0.2em;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(-65px);
    }
  }
  
  @keyframes anim2 {
    0%,
    100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }